# h1
## h2
### h3
#### h4
##### h5
###### h6

1. 첫 번째 항목
2. 두 번째 항목
3. 세 번째 항목

* 항목 1
* 항목 2
* 항목 3
    * 항목 3-1
    * 항목 3-2
        * 항목 3-2-1

In [5]:
str1 = "aaa"
str2 = "bbb"

In [6]:
str3 = str1 + str2
print(str3)

aaabbb

In [7]:
str4 = str1 + str2 + "ccc"
print(str4)

aaabbbccc

In [8]:
str5 = str4 * 3
print(str5)

aaabbbcccaaabbbcccaaabbbccc

In [9]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
print(alphabet)

abcdefghijklmnopqrstuvwxyz

# offset 지정해서 문자 가져오기
[ n ] -> n(offset)은 항상 정수이다. 0부터 시작한다.

In [11]:
print(alphabet[3])

d

In [12]:
print(alphabet[-1])

z

# slice 기법 활용하기 ★★★★★
* Sequence 자르기 ★
* [ start : end : step ] ★
* start, end, step은 기본값을 가진다.

In [13]:
slice1 = alphabet[0:5]
print(slice1)

abcde

In [14]:
slice2 = alphabet[:5] # start 값을 지정하지 않으면 기본적으로 0
print(slice2)

abcde

In [15]:
slice3 = alphabet[10:] # start : 10, end : alphabet의 총 길이 ( 끝까지 )
print(slice3)

klmnopqrstuvwxyz

In [18]:
slice4 = alphabet[-5: -1]
print(slice4)

vwxy

In [22]:
slice5 = alphabet[ : : 3 ]
print(alphabet)
print(slice5)

abcdefghijklmnopqrstuvwxyz
adgjmpsvy

In [24]:
slice6 = alphabet[::-2]
print(slice6)

zxvtrpnljhfdb

## 문자열 함수(function)

In [27]:
len("Hello")

5

In [28]:
len(alphabet)

26

In [30]:
hashtags = "#맛집#강남맛집#다이어트_실패"
split_hashtag = hashtags.split("#")
print(split_hashtag[1:])

['맛집', '강남맛집', '다이어트_실패']

In [33]:
sample_str = "안녕하세요 오늘은  날씨가 더워요"
sample_str.split()

['안녕하세요', '오늘은', '날씨가', '더워요']

In [34]:
split_hashtag

['', '맛집', '강남맛집', '다이어트_실패']

In [36]:
"@".join(split_hashtag)

'@맛집@강남맛집@다이어트_실패'

# 리스트 사용하기 ★★★★★

In [37]:
empty_list1 = []
empty_list2 = list()

In [38]:
pokemon_list = ["피카츄", "라이츄", "피카츄"]
pokemon_list

['피카츄', '라이츄', '피카츄']

In [39]:
# 리스트는 Sequence 이기 때문에 slice기법 적용 가능
pokemon_list[1 : ]

['라이츄', '피카츄']

In [40]:
pokemon_list[::2]

['피카츄', '피카츄']

In [43]:
pokemon_list[-1] = '꼬부기'
pokemon_list

['피카츄', '라이츄', '꼬부기']

In [44]:
pokemon_list[3] = '파이리'

IndexError: list assignment index out of range

In [45]:
pokemon_list.append('파이리')
pokemon_list

['피카츄', '라이츄', '꼬부기', '파이리']

In [46]:
pokemon_list2 = ['버터플', '야도란', '피죤투']

In [47]:
pokemon_list_copy = pokemon_list.copy()
pokemon_list_copy

['피카츄', '라이츄', '꼬부기', '파이리']

In [48]:
pokemon_list_copy.append(pokemon_list2)
pokemon_list_copy

['피카츄', '라이츄', '꼬부기', '파이리', ['버터플', '야도란', '피죤투']]

In [49]:
pokemon_list.extend(pokemon_list2)
pokemon_list

['피카츄', '라이츄', '꼬부기', '파이리', '버터플', '야도란', '피죤투']

In [51]:
# extend를 하는 또 다른 방법
pokemon_list += ['이상해씨','또가스','거북왕']
pokemon_list

['피카츄', '라이츄', '꼬부기', '파이리', '버터플', '야도란', '피죤투', '이상해씨', '또가스', '거북왕']

# 리스트 변환하기 ★★★

파이썬의 모든 시퀀스는 list 또는 tuple로 변형될 수 있다.

In [53]:
sample = 'cat'
sample[1] = 'b'

TypeError: 'str' object does not support item assignment

In [54]:
sample_list = list(sample)
sample_list

['c', 'a', 't']

In [55]:
sample_list[1] = 'b'
sample_list

['c', 'b', 't']

In [56]:
''.join(sample_list)

'cbt'

In [57]:
sample2 = list(10)
sample2

TypeError: 'int' object is not iterable

# 리스트의 원소 삭제하기
* del : 인덱스를 활용해 삭제하기
* remove : 검색어를 활용해 삭제하기
* pop : 순서대로 꺼낸다음 삭제하기

In [58]:
del pokemon_list[ -1 ]
pokemon_list

['피카츄', '라이츄', '꼬부기', '파이리', '버터플', '야도란', '피죤투', '이상해씨', '또가스']

In [59]:
pokemon_list.remove("또가스")
pokemon_list

['피카츄', '라이츄', '꼬부기', '파이리', '버터플', '야도란', '피죤투', '이상해씨']

In [60]:
last_item = pokemon_list.pop() # 제일 뒤에 있는 원소를 꺼낸다음 삭제
print(last_item)
print(pokemon_list)

이상해씨
['피카츄', '라이츄', '꼬부기', '파이리', '버터플', '야도란', '피죤투']

In [61]:
pop_item = pokemon_list.pop(3)
print(pop_item)
print(pokemon_list)

파이리
['피카츄', '라이츄', '꼬부기', '버터플', '야도란', '피죤투']